<tr>
  <td class="post">
    <span class="content"><%= post.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(post.created_at) %> ago.
    </span>
	<span class="likes">
	  <%= post.likes %>
	</span>
	<span class='likes_link'>
	  <%= link_to 'Dislike', dislike_path(post) %>
	</span class>
	<span class="dislikes">
	  <%= post.dislikes %>
	</span>
	<span class="dislikes_link">
	  <%= link_to 'Dislike', dislike_path(post) %>
	</span>
  </td> 
</tr>
