

<table class="feed">
  <tr>
	<th><%= link_to "Content", :sort => "content" %></th>
	<th><%= link_to "Likes", :sort => "likes" %></th>
	<th><%= link_to "Dislikes", :sort => "dislikes" %></th>
	<th><%= link_to "Posted", :sort => "created_at"%></th>
  </tr>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.content %></td>
      <td><%= pluralize(post.likes, "person")%>
          <%= link_to 'like', like_path(post) %></td>
      <td><%= pluralize(post.dislikes, "person")%>
          <%= link_to 'dislike', dislike_path(post) %></td>
      <td><%= time_ago_in_words(post.created_at) %> ago.</td>
    </tr>
  <% end %>
  <%= will_paginate @posts %>
</table>