<% @posts.each do |post| %>
<tr>
  <td><%= post.content %></td>
  <td><%= link_to 'Like', like_path(post) %></td>
  <td><%= post.likes %></td>   
  <td><%= link_to 'Dislike', dislike_path(post) %></td>
  <td><%= post.dislikes %></td>
  <td>Posted <%= time_ago_in_words(post.created_at) %> ago.</td>
</tr>
<% end %>
<%= will_paginate @posts %>
