<%= form_for @post, :html => { :multipart => true } do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> 
	      prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="content">
    <%= f.text_area :content %>
  </div>

  <div class="tags">
	<%= f.label :tag_names, 'Tags', :class => 'tags_label' %><br />
	<%= f.text_area :tag_names %>
  </div>

  <div class="picture_upload">
	<div id= "picture_upload_label">
  	  <%= f.label :picture, 'Upload Picture (optional)', :class => 'picture_label' %><br />
	</div>
	<div id="picture_upload">
	  <%= f.file_field :picture, :id => 'uploadbutton'%>
	</div>
  </div>

  <div class="actions" id="post_submit">
    <%= f.submit 'Post', :class => 'btn primary', :id => 'postbutton' %>
  </div>
<% end %>