<p id="notice"><%= notice %></p>

<div class="feed_items">
	<div class="post_main">
      <span class="content"><%= @post.content %></span>
      <span class="timestamp">Posted <%= time_ago_in_words(@post.created_at) %> ago.</span>
	</div>
	<div class="post_ratings">
	  <span class="likes"><%= @post.likes %>
      <%= link_to 'likes', like_path(@post) %></span>
      <span class="dislikes"><%= @post.dislikes %>
      <%= link_to 'dislikes', dislike_path(@post) %></span>
	</div>
	<div class="post_tags">
	  <span class="tags">
	  <% @post.tags.each do |tag| %>
	    <%= tag.tag_value %>
	  <% end %>
	  </span>
	</div>
</div></br>


