<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @post.content %>
  <%= @post.likes %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<%= link_to 'Like', post_path(@post), :method => :put %>

<%= debug(params) if Rails.env.development? %>